/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor

# Netbeans editor specific
nbproject/
/nbproject/private/

# Eclipse editor specific
.buildpath
.project
.settings/

# PhpStrom editor specific
/.idea

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/