vendor/
node_modules/

# Netbeans editor specific
nbproject/
/nbproject/private/

# Eclipse editor specific
.buildpath
.project
.settings/

# Local storage
public/storage/
storage/logs/
public/templateEditor/kcfinder/*
public/js/*
public/js/app.js
public/css/*
public/rev-manifest.json
public/images/**
public/fonts/

# Swagger API documentation
storage/docs/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
